
html, body {
	text-align: center;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-left: 100px;
}

h2{
	color: #008CBA;
    font-family: verdana;
    font-size: 300%;
	display: block;
}
button {
margin-left:0px;	
background-color: white;
border-radius: 8px;
border: 2px solid #ccc;
color: #008CBA;
padding: 15px 32px;
text-align: center;
display: inline-block;
cursor: pointer;
font-size: 20px;
}

button:hover {
	background-color: #008CBA;
	color:white;
	}

button:active {
  transform: translateY(4px);
}

input[type=text] {
    width: 500px;
	
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

Article { 
    display: block;
}